# .idea dir
/.idea/

# test dir
/src/main/java/test/

# target dir
/target/

# test.ftl and schmierzettel.js
/src/main/resources/frontend/test.ftl
/src/main/resources/frontend/js/schmierzettel.js
/src/main/resources/frontend/js/ajax_functions_test.js
/src/main/resources/ProtokollXMLs/

abschlussprojekt.iml
