
/* Style for LaTeX protocol editor page */

.home-container {
    box-sizing: border-box;
    padding: 50px 30px;
    background-color: rosybrown;
    width: 100%;
}

.home-left {

}

#db-status {
    background-color: yellow;
    box-sizing: border-box;
    float: right;
    width: 40%;

    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    height: 100px;
}
